body {
    font-family: Orbitron;
    background-color: #fffff2;
}
h1 {
    text-align: center;
}
p{
    margin: 19px;
}
.display h1 {
    margin: 30px;
    font-family: Orbitron;
    font-size: xx-large;
    color: #00FF00;
}
.container {
    border: thin solid #A8A9AD;
    background-color: #A8A9AD;
    box-shadow: 10px 10px 5px grey;
    height: 600px;
    width: 400px;
    margin: auto;
    border-radius: 25px;
}
.display {
    border: thin solid black;
    background-color: #484848;
    height:100px;
    width: 350px;
    margin: 25px;
    border-radius: 100px;
}
.btn-pad {
    height: 436px;
    width: 350px;
    margin: 25px;
    display: grid;
    grid-template-columns: 87.5px 87.5px 87.5px 87.5px;
}
.btn {
    border: thin solid black;
    height: 80px;
    width: 80px;
    place-self: center;
    border-radius: 10px;
    text-align: center;
    font-family: Orbitron;
    font-size: xx-large;
}
.bigButton {
    grid-column-start: span 2;
    width: 166px;
}
#C {
    background-color: red;
}
.equals {
    background-color: green;
}
.operator {
    background-color: orange;
}